<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" routerLink="/bar-chart">Bar Chart</a>
        <a class="nav-item nav-link" routerLink="/doughnut-chart">Doughnut Chart</a>
        <a class="nav-item nav-link" routerLink="/radar-chart">Radar Chart</a>
        <a class="nav-item nav-link" routerLink="/pie-chart">Pie Chart</a>
        <a class="nav-item nav-link" (click)="logout()" style="color: red">Log out</a>

    </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>